{{- $name := promptStringOnce . "name" "Git author name" -}}
{{- $email := promptStringOnce . "email" "Git author email" -}}
{{- $workDir := promptStringOnce . "workDir" "Work repos directory such as ~/work (empty for none)" -}}

sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
workDir = {{ $workDir | quote }}
