{
    "zig.initialSetupDone": true,
    "zig.path": "zig",
    "zig.zls.path": "{{ .chezmoi.homeDir }}/Development/tools/zig/zls/zig-out/bin/zls",
    "[typescriptreact]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "workbench.editor.editorActionsLocation": "titleBar",
    "[typescript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "redhat.telemetry.enabled": false,
    "[yaml]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "[html]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "docker.extension.enableComposeLanguageServer": false,
    "mdb.mcp.server": "prompt",
    "azureTerraform.survey": {
        "surveyPromptDate": "2025-10-25T13:53:51.009Z",
        "surveyPromptIgnoredCount": 0
    }
}